.nav-center {
	display: flex;
	background-color: var(--nav-color);
	color: var(--nav-text-color);
	box-shadow: var(--light-shadow);
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}
